/* General */
.page-sec {
    margin-bottom: 3rem;
}

.swipe-up {
    transform: translateY(-1rem);
}

section.main-content-canvas {
    letter-spacing: initial;
}

h1.head, h2.head, h3.head, h4.head, h5.head, h6.head {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Heebo', sans-serif;
}

.head span {
    color: #76c208;
}

/* Projects and Partnerships */

    /* BANNER */
    .csr-main-canvas .banner-canvas {
        text-align: center;
        color: white;
        padding: 7rem 0;
        background: url(../images/csr/projects-partnerships/banner-earth.svg) #1b1b1b no-repeat center;
        background-size: 45rem;
        background-position-y: -3rem;
    }

    .csr-main-canvas .banner-canvas p.sub {
        margin: 1rem auto 5rem auto;
        width: 55%;
    }

    .csr-main-canvas .banner-canvas .title {
        font-family: 'Rajdhani', sans-serif;
        color: #76c208;
    }

    .csr-main-canvas .partners-logo-carousel .owl-item img {
        height: 45px;
    }

    /* CAROUSEL BIG */
    .csr-main-canvas .carousel-wrapper {
        margin-top: 5rem;
        text-align: center;
        height: 36rem;
    }

    .csr-main-canvas .partners-carousel .partner-item.center {
        background: #76c208;
        transition: .5s;
        height: 17rem;
    }

    .csr-main-canvas .partners-carousel .partner-item.sides {
        background: #324c0dad;
        margin-top: 5rem;
        transition: .5s;
    }

    .csr-main-canvas .partners-carousel .owl-nav button {
        background: white !important;
        height: 3rem;
        width: 3rem;
        border-radius: 5rem !important;
        box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 30%);
        -webkit-box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 30%);
        -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
        transition: 0.5s;
    }

    .csr-main-canvas .partners-carousel .owl-nav button:hover {
        filter: brightness(1.5);
    }

    .csr-main-canvas .partners-carousel .owl-nav button img {
        filter: invert(41%) sepia(15%) saturate(0%) hue-rotate(146deg) brightness(98%) contrast(85%);
        width: 50%;
    }

    .csr-main-canvas .partners-carousel .owl-nav {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 6rem;
        z-index: 20;
    }

    .csr-main-canvas .carousel-wrapper .partners-carousel {
        margin: 5rem 0;
        position: relative;
        height: 1rem;
    }

    .csr-main-canvas .partners-carousel .partner-item.center:hover .content-wrapper {
        padding: 1rem 0;
        top: 30%;
    }

    .csr-main-canvas .partners-carousel .partner-item:hover {
        cursor: pointer;
    }

    .csr-main-canvas .partners-carousel .partner-item:hover .content-wrapper {
        top: 30%;
        background: white;
        padding: 1rem 0;
        transition: .5s;
    }

    .csr-main-canvas .partners-carousel .partner-item {
        overflow: hidden;
        position: relative;
        background: #dddddd;
        height: 17rem;
    }

    .csr-main-canvas .partners-carousel .partner-item.center .content-wrapper {
        top: 35%;
    }

    .csr-main-canvas .partners-carousel .partner-item .content-wrapper {
        position: absolute;
        top: 35%;
        z-index: 2;
        width: 100%;
        transition: .5s;
    }

    .csr-main-canvas .partners-carousel .partner-item .content-wrapper img {
        margin: 0 auto;
        width: 50%;
    }

    .csr-main-canvas .partners-carousel .partner-item img {
        height: 100%;
        object-fit: cover;
    }

    .csr-main-canvas .partners-carousel .partner-item .overlay {
        background-color: rgb(255 255 255 / 60%);
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        transition: 0.5s;
    }

    .csr-main-canvas .partners-carousel .partner-item:hover .overlay {
        cursor: pointer;
        opacity: 0;
    }

    .csr-main-canvas .partners-carousel .partner-item .border-bottom-green {
        background-color: rgb(118 194 8);
        display: block;
        height: .5rem;
        bottom: -1rem;
        position: absolute;
        width: 100%;
        z-index: 2;
        transition: 0.5s;
    }

    /* UNGC */
    .csr-main-canvas .ungc-wrapper p {
        line-height: 1.5rem;
    }

    .csr-main-canvas .ungc-wrapper .head span:after {
        display: block;
        content: "\00a0 ";
        width: 10rem;
        border-top: 3px solid;
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    /* PRINCIPLES */
    .csr-main-canvas .principles-wrapper {
        margin-bottom: 1rem;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper h5 {
        line-height: 5rem;
        margin: 0;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper {
        margin-bottom: 1.5rem;
        display: flex;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper .img-wrapper {
        border: 3px solid #76c208;
        height: 5.5rem;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper .img-wrapper img {
        height: 5rem;
        width: 5rem;
        padding: 1rem;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper .text-wrapper {
        margin-left: 1.5rem;
        line-height: 1.5rem;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper .text-wrapper p {
        font-weight: bold;
        font-size: 17px;
        letter-spacing: initial;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper .text-wrapper ul li {
        margin-bottom: 1rem;
    }

    .csr-main-canvas .principles-wrapper .prin-item-wrapper .text-wrapper ul li span {
        font-weight: bold;
        letter-spacing: initial;
    }

    /* DETAILS */
    .csr-main-canvas .details-wrapper {
        line-height: 1.5rem;
    }

    .csr-main-canvas .details-wrapper span {
        display: block;
    }

    .csr-main-canvas .details-wrapper span a {
        font-weight: bold;
    }